body {
  background-color: #313131;
}

h1 {
  color: #e7641d;
  text-align: center;
  font-family: verdana;
}

p {
  color: #ffffff;
  font-family: verdana;
  font-size: 20px;
  margin: 0px;
  padding-bottom: 2-0px;
  width: 100%;
}

* {
  border: 1px solid black;
}

#logo {
  position: relative;
  top: 2px;
  left: 2px;
  width: 45%;
}

#topbox {
  background-color: #181818;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}

.boxtext {
  margin-left: 100px;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.templates {
  width: 500px;
  position: relative;
  display: flex;
}

.mask1 {
  width: 500px;
  height: 500px;
  background-color: transparent;
  mask-image: url(images/64/64template1mono.png);
  mask-size: contain; /* Adjust as needed */
  mask-repeat: no-repeat;
  mask-composite: intersect; /* Ensures only masked area is visible */
  position: absolute;
  left: 0%;
}

.mask3 {
  width: 500px;
  height: 500px;
  background-color: transparent;
  mask-image: url(images/64/64template3mono.png);
  mask-size: contain; /* Adjust as needed */
  mask-repeat: no-repeat;
  mask-composite: intersect; /* Ensures only masked area is visible */
  position: absolute;
  left: 0%;
}

.mask5 {
  width: 500px;
  height: 500px;
  background-color: transparent;
  mask-image: url(images/64/64template5mono.png);
  mask-size: contain; /* Adjust as needed */
  mask-repeat: no-repeat;
  mask-composite: intersect; /* Ensures only masked area is visible */
  position: absolute;
  left: 0%;
}

.mask7 {
  width: 500px;
  height: 500px;
  background-color: transparent;
  mask-image: url(images/64/64template7mono.png);
  mask-size: contain; /* Adjust as needed */
  mask-repeat: no-repeat;
  mask-composite: intersect; /* Ensures only masked area is visible */
  position: absolute;
  left: 0%;
}

.container {
  position: relative;
  justify-content: space-around;
}

.containercontainer {
  display: flex;
}
